* {
  margin: 0;
  font-weight: normal;
  font-family: Montserrat, Helvetica, sans-serif;
}

.page-title {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  color: #48acf0ff;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.logo {
  width: 200px;
  height: 200px;
  margin: auto;
}

.logo-container {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 50px;
}

.app-name a {
  text-decoration: none;
}

.lab-info {
  text-align: center;
  font-size: 30pt;
}
.lab-info-version {
  text-align: center;
  font-size: 12pt;
  color: #a9a9a9;
}

body {
  background-color: #FFFFFF;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

p {
  color: #424242;
}

.history-item-description {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
}

.history-item-combination {
  color: #48acf0;
  font-weight: bold;
}

.shortcut-description {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30pt;
}

.shortcut-input {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 25pt;
  width: 100%;
  min-height: 50pt;
  box-sizing: border-box;
  margin-top: 20pt;
  color: #48acf0;
  padding-left: 10pt;
  padding-right: 20pt;
  border-radius: 5pt;
}

.shortcut-input::placeholder {
  color: #cbcbcb;
  opacity: 1;
}

.content {
  margin: auto;
  width: 90%;
  display: none;
}

.incorrect {
  background: #b80c091c;
}

.correct {
  background: #7be0ad7c;
}

@media screen and (min-width: 600px) {
  .content {
    width: 600px;
  }
}

.shortcut-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
}

.shortcut-item {
  margin: 10pt 0 0 0;
  border-radius: 5pt;
  padding: 10pt;
  min-height: 30pt;
}

.shortcut-item:first-child {
  margin-top: 40px;
}

.loader {
  border: 5px solid #cbcbcb;
  border-top: 5px solid #48acf0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: none;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.next-icon {
  width: 25px;
  height: 25px;
}

.lab-session-container {
  display: none;
}

.end-session-container {
  display: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #DAF0FB;
  border-radius: 10px;
}

.lab-loading-container {
  display: none;
}

.lab-selection-container {
  display: none;
}

.intro-container {
  width: 100%;
  margin: auto;
  margin-top: 5vh;
}

.welcome-title {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 40pt;
  color: #48acf0ff;
  font-weight: bold;
  font-family: Montserrat, Helvetica, sans-serif;
}

.welcome-subtitle {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 24pt;
  color: #979197;
  font-weight: 300;
}

.start-button {
  background: #ab47bcff;
  width: 258px;
  height: 60px;
  margin: auto;
  margin-top: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.start-link {
  display: block;
  width: 258px;
  margin: auto;
  text-align: center;
  margin-top: 114px;
  color: #FFF;
  font-size: 24px;
  font-family: Montserrat, Helvetica, sans-serif;
  text-decoration: none;
}

.selection-title {
  margin-top: 20px;
}

.upload-item {
  color: #ab47bcff;
}

.close {
  color: #ab47bcff;
  margin: auto;
  text-align: center;
}

.upload {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 5vh;
  color: #48acf0;
}

.list-description-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}

.list-description {
  color: #000;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.lab-list-container {
  width: 90%;
  list-style: none;
}

.lab-list-container li:hover {
  background: #ab47bc55;
}

.lab-list-container li {
  border: 1px solid #ab47bcff;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 5px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.buttons-container {
  margin: auto;
  text-align: center;
}

.finish-title {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
  color: #a9a9a9;
  text-align: center;
}

.score {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
  color: #48acf0;
  text-align: center;
}

.correct-score {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30pt;
  text-align: center;
}

.footer-content {
  margin: auto;
  display: flex;
}

footer {
  display: flex;
  margin: auto;
  margin-top: 20vh;
}

.footer-link {
  display: block;
  text-align: left;
  color: #9a9197;
  font-size: 14px;
  text-decoration: none;
}

.footer-section {
  color: #554d56;
  font: 14px;
}

nav :first-child {
  margin-bottom: 10px;
}

nav a {
  margin-bottom: 10px;
}

nav {
  margin-left: 20px;
  margin-right: 20px;
}

.about-title {
  color: #554d56;
  width: 90%;
  margin: auto;
  text-align: center;
}

.about-container {
  width: 100%;
  margin: auto;
}

.about-description {
  font-size: 18px;
  color: #979197;
  margin: auto;
  margin-top: 25px;
  width: 90%;
  text-align: justify;
  max-width: 600px;
}

.close-button {
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 8px;
  background: white url("../img/close-button.svg") no-repeat;
}

.close-button:hover {
  background: white url("../img/close-button-hover.svg") no-repeat;
}

.retry-button {
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 8px;
  background: white url("../img/retry-button.svg") no-repeat;
}

.retry-button:hover {
  background: white url("../img/retry-button-hover.svg") no-repeat;
}

.button-link {
  margin: auto;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.close-button-container {
  text-align: center;
}

.shortcut-challenge-input{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #DAF0FB;
  padding: 20px;
  border-radius: 10px;
}

.incorrect-user-combination{
  color: #b80c09; 
}