* {
  margin: 0;
  font-weight: normal;
  font-family: Montserrat, Helvetica, sans-serif;
}

.logo{
  width: 200px;
  height: 200px;
  margin: auto;
}

.logo-container{
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 50px;
}

.app-name a {
  text-decoration: none;
}

.lab-info {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 12pt;
  color: #a9a9a9;
  margin-bottom: 5vh;
  text-align: center;
}

body {
  background-color: #FFFFFF;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

p {
  color: #424242;
}

.history-item-description {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
}

.history-item-combination{
  color: #48acf0;
  font-weight: bold;
}

.shortcut-description {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30pt;
}

.shortcut-category {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18pt;
  color: #a9a9a9;
}

.shortcut-input {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30pt;
  width: 100%;
  min-height: 50pt;
  box-sizing: border-box;
  margin-top: 20pt;
  color: #48acf0;
  padding-left: 20pt;
  padding-right: 20pt;
  border-radius: 5pt;
}

.shortcut-input::placeholder {
  color: #cbcbcb;
  opacity: 1;
}

.content {
  margin: auto;
  width: 90%;
  display: none;
}

.incorrect {
  border-width: 0.5px;
  border-style: solid;
  border-color: #b80c09;
  background: #b80c091c;
}

.correct {
  border-width: 0.5px;
  border-style: solid;
  border-color: #7be0ad;
  background: #7be0ad7c;
}

@media screen and (min-width: 600px) {
  .content {
    width: 600px;
  }
}

.shortcut-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
}

.shortcut-item {
  margin: 20pt 0 0 0;
  border-radius: 5pt;
  padding: 10pt;
  min-height: 30pt;
}

.loader {
  border: 5px solid #cbcbcb;
  border-top: 5px solid #48acf0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: none;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.next-icon {
  width: 25px;
  height: 25px;
}

.lab-session-container {
  display: none;
}

.end-session-container {
  display: none;
  text-align: center;
  margin-top: 10vh;
}

.lab-loading-container {
  display: none;
}

.lab-selection-container {
  display: none;
}

.intro-container {
  width: 100%;
  margin: auto;
}

.welcome-title {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 40pt;
  color: #48acf0ff;
  font-weight: bold;
  font-family: Montserrat, Helvetica, sans-serif;
}

.welcome-subtitle {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 24pt;
  color: #979197;
  font-weight: 300;
}

.start-button{
  background: #ab47bcff;
  width: 258px;
  height: 60px;
  margin: auto;
  margin-top: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}


.start-link {
  display: block;
  width: 258px;
  margin: auto;
  text-align: center;
  margin-top: 114px;
  color: #FFF;
  font-size: 24px;
  font-family: Montserrat, Helvetica, sans-serif;
  text-decoration: none;
}

.button {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10vh 15px;
}

.selection-title {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  color: #48acf0ff;
}

.upload-item {
  color: #ab47bcff;
}

.close {
  color: #ab47bcff;
  margin: auto;
  text-align: center;
}

.upload {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 5vh;
  color: #48acf0;
}

li {
  border: 1px solid #ccc;
}

.list-description-link{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.list-description {
  color: #000;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.lab-list-containter {
  margin-top: 10vh;
  width: 90%;
  list-style: none;
}

.lab-list-containter li:hover {
  background: #ab47bc55;
}

.lab-list-containter li {
  height: 60px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.buttons-container{
  margin: auto;
  text-align: center;
}

.finish-title{
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
  color: #a9a9a9;
  text-align: center;
}

.score{
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20pt;
  color: #48acf0;
  text-align: center;
}

.correct-score{
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30pt;
  text-align: center;
}

.footer-content{
  margin: auto;
  display: flex;
}

footer{
  display: flex;
  margin: auto;
  margin-top: 20vh;
}

.footer-link {
  display: block;
  text-align: left;
  color: #9a9197;
  font-size: 14px;
  text-decoration: none;
}

.footer-section{
  color: #554d56;
  font: 14px;
}

nav :first-child{
  margin-bottom: 10px;
}

nav a{
  margin-bottom: 10px;
}

nav {
  margin-left: 20px;
  margin-right: 20px;
}

.about-title{
  color: #554d56;
  width: 90%;
  margin: auto;
  text-align: center;
}

.about-container{
  width: 100%;
  margin: auto;
}

.about-description{
  font-size: 18px;
  color: #979197;
  margin: auto;
  margin-top: 25px;
  width: 90%;
  text-align: justify;
  max-width: 600px;
}