* {
    margin: 0;
}

body {
    background-color: #f2f4f8;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

p {
    color:#424242;
}

.shortcut-description {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 30pt;
}

.shortcut-category {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 20pt;
    color: #a9a9a9;
}

.shortcut-input {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 30pt;
    pointer-events:none;
    width: 100%;
    box-sizing : border-box;
    margin-top: 20pt;
    color: #48acf0;
    padding-left: 20pt;
    padding-right: 20pt;
}

.shortcut-input::placeholder { 
    color: #cbcbcb; 
    opacity: 1;
}

.content {
    margin: auto;
    width: 90%;
}

.incorrect{
    color: #b80c09;
    background: #FFFFFF;
}

.correct{
    color: #7be0ad;
    background: #FFFFFF;
}

@media screen and (min-width: 600px) {
    .content {
        width: 600px;
    }
}

.shortcut-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
}   

.shortcut-item{
    margin: 20pt 0 0 0;
    border: aqua;
    border-radius: 5pt;
    padding: 10pt;
}
    